@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima_Nova/Fontspring-DEMO-proximanova-semibold.otf");
}

#kpi-label {
  font-size: 14px;
  font-weight: 400;
  color: #72777e;
  font-family: "IBM Plex Sans";
  line-height: 20px;
}

#kpi-value {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 18px;
  color: #1d1e20;
  line-height: 28px;
}
